body {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-wrapper {
  margin: 50px auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  margin-left: 10px;
}

.field-wrapper{
  display: flex;
  align-items: center;
  align-content: center;

}

.label {
  width: 90px;
  margin-right: 10px;
}

.required {
  color: red;
}

.placeholder, ::placeholder{
  color: #CECECE;
}

.header-title {
  color: #c1c1c1;
  font-size: 32px;
  margin-left: 50px;
  font-weight: 700;
}

.header-content {
  width: 1200px;
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  line-height: 70px;
}

.ad-topic {
  width: 278px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  padding: 10px;
}

.ad-topic-wrapper {
  display: flex;
}

.input, .output {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid #CCCCCC;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button-side {
    position: absolute !important;
    right: 32px;
    top: 32px;
}

@keyframes grow {
  0% { max-height: var(--lineHeight); }
  100% { max-height: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes carriageReturn {
  0% { top: 0; }
  100% { top: calc(var(--lineHeight) * var(--lines)); }
}

@keyframes type {
  0% { width: 100%; }
  100% { width: 0%; }
}

@keyframes caret {
  0% { color: var(--bgColor); }
  100% { color: black; }
}

.input {
  --bgColor: white;
  --lines: 500;
  --lineHeight: 1.5rem;
  --timePerLine: 3s;
  --widthCh: 22;
  --width: calc(var(--widthCh) * 1ch);
  /* do not touch the time property!!! */
  --time: calc(var(--lines) * var(--timePerLine));
  animation: grow var(--time) steps(var(--lines));
  animation-fill-mode: forwards;
  background: var(--bgColor);
  line-height: var(--lineHeight);
  max-height: var(--lineHeight);
  overflow: hidden;
  position: relative;
  width: var(--width);
  font-family: monospace, monospace;
  /* word-break: break-all; */
}

.input::before {
  content: "";
  background: var(--bgColor);
  border-left: 2px solid;
  bottom: 0;
  height: 2rem;
  position: absolute;
  right: 0;
  width: 100%;
  border-left-width: 0;
  animation:
          type var(--timePerLine) steps(var(--widthCh)) infinite,
          carriageReturn var(--time) steps(var(--lines)) var(--lines),
          caret 0.5s steps(2) infinite;
}



.input {
  --widthCh: 60;
}

.output.scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.output-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons-wrapper-bottom {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #F1F1F1;
}
